a{
    text-decoration: none;
}
.header{
    flex-shrink: 0 ;
    box-sizing: border-box;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}

.head-btns{
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222; 
}

.left-header{
    display: inline-block;
    flex-grow: 1;
}

.other-head-btns{
    display: inline-block;
    line-height: 24px;
    padding: 5px;
    margin: 0 5px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
}

.logo-class{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    max-height: 290px;
    height: calc(100% - 560px);
    min-height: 132px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.menu-dots{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    grid-row-gap: 2px;
    height : 20px;
    width : 20px;
}

.bento-dot {
    width : 5px;
    height: 5px;
    border-radius: 999px;
    background: #5f6368;
    overflow: hidden;
    opacity: 1;
  }

#round-img{
    border-radius: 50%;
}

.logo{
    object-position: center;
    position: relative;
}

.search-bar{
    display: flex;
    justify-content: center;
    height: 44px;
    align-items: flex-start;
    padding-top: 20px;
}

#input-container{
    position: relative;
    padding: 0;
    margin: 0;
    width: 527px;
    height: 44px;
}
#search-bar-input{
    border: none;
    /* margin: 10px; */
    height: 44px;
    width: 527px;
    border:1px solid #9aa0a6;
    outline:none;
    font-size: 16px;
    border-radius: 25px;
    background-color: transparent;
    padding-right: 40px;
    padding-left: 40px;
}

.search-icon{
    fill: #9aa0a6;
    position: absolute;
    
    padding: 10px;
    left: 0;
    top: 0;
}

#wrapper{
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.search-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 18px;
}

.btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 47.5;
    display: flex;
    background: #f2f2f2;
}

.footer-btns{
    color: #70757a;
    padding: 15px;
    white-space: nowrap;
}

.footer-right{
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    align-items: center;
    height: 47.5;
}

.footer-center{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 47.5;
}

.footer-left{
    display: flex;
    justify-content: flex-start;
    width: 33.33%;
    float: left;
    height: 47.5;
}

.footer-icon{
    height: 14px;
    padding-right: 6px;
}

.footer-btn-center{
    color: #70757a;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .footer-center{
        width: 100%;
        bottom: 47.5px;
        align-items: flex-center;
        justify-content: center;
    }
    .footer-left, .footer-right{
        bottom: 0px;
    }
    .footer{
        height: 94.5;
        align-items: flex-end;
    }
}

/* @media screen and (max-width: 700px) {
    .footer-center{
        width: 100%;
        bottom: 94.5px;
        align-items: flex-center;
        justify-content: center;
    }

    .footer{
        height: 142.5;
        align-items: flex-end;
    }

    .footer-left{
        bottom: 47.5px;
        width: 100%;
        align-items: flex-center;
    }
} */


